<% include ../partials/header-start %>
<% include ../partials/header-end %>

<h1>Admin Panel</h1>
<h3>What would you like to do?</h3>

<p><a href="./accounts">Manage User Accounts</a></p>
<p><a href="./taxonomic-groups">Manage Taxonomic Groups</a></p>
<p><a href="./data-uploads">Manage Data Uploads</a></p>

<% include ../partials/footer %>