<% include ../partials/header-start %>
<link rel="stylesheet" href="/stylesheets/admin/panel.css">
<% include ../partials/header-end %>

<h1 class="header">Admin Panel</h1>

<div id="panel-buttons">
    <div class="button-container">
            <a href="./accounts" class="panel-button">User Management</a>
    </div>
    <!-- Note: May be added at a later date. -->
    <!-- <div class="button-container">
            <a href="#" class="panel-button">Upload Management</a>
    </div> -->
</div>

<% include ../partials/footer %>