/* Matthew Lester NEA Project - new.css (Data Upload New Page CSS) */

#load-form {
    min-width: 525px;
}

#upload-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 35px 0 30px 0;
    overflow: auto;
}

#species-form {
    margin-right: 25px;
}

#status-controls-container {
    background-color: #a8f6ff;
    border-radius: 6px;
    border: 2px solid #32c0cd;
    padding: 0 8px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 225px;
}

#status-controls-container p {
    margin: 5px 0;
}

.upload-status-control {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.latin-name, .common-name {
    line-height: 20px;
    font-size: 15px;
    margin: 5px;
}

.latin-name {
    font-style: italic;
}

.edit-button, .remove-button {
    cursor: pointer;
    height: 20px;
    width: 50px;
    border-radius: 3px;
    font-size: 12px;
    color: #eee;
    margin: 5px 0 5px 5px;
    text-decoration: none;
    line-height: 20px;
}

.edit-button:active, .remove-button:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.edit-button {
    background-color: rgb(255, 162, 41);
    box-shadow: 2px 2px 0 0 rgb(212, 103, 0);
}
.edit-button:active {
    box-shadow: 1px 1px 0 0 rgb(212, 103, 0);
}

.remove-button {
    background-color: rgb(255, 50, 50);
    box-shadow: 2px 2px 0 0 rgb(177, 30, 30);
}
.remove-button:active {
    box-shadow: 1px 1px 0 0 rgb(177, 30, 30);
}