<% include ../partials/header-start %>
<% include ../partials/header-end %>

<h1 id="disabled-banner">The help page is currently being upgraded.</h1>
<p id="disabled-text">Sorry for any inconvenience caused.</p>
<img id="maintenance-image" src="/images/maintenance.png">

<% include ../partials/footer %>