<% include ../partials/header-start %>
<link rel="stylesheet" href="/stylesheets/data-review/main.css">
<% include ../partials/header-end %>

<h1 class="header">Data Review</h1>

<% if (error) { %>

    <h2>There was an error loading this page.</h2>
    <h4>Please contact a system administrator and quote this message:</h4>
    <p><%= error %></p>

<% } else { %>

    <div id="locations-modal" class="modal">
        <div class="modal-container">
            <span class="close">&times;</span>
    
            <h2 class="modal-header">Select Locations</h2>
            <div class="modal-content">
                <p>Please select the date range for the data, and if applicable, click to select the locations you want to compare.</p>

                <div id="locations-table-container">
                    <table id="locations-table" class="form">
                        <thead>
                            <tr>
                                <td>From</td>
                                <td><input id="from-date" type="date"></td>
                                <td>to</td>
                                <td><input id="to-date" type="date"></td>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

                <a href="#" class="button" id="locations-submit-button">Continue</a>

                <p class="form-error"></p>
                <p class="form-success"></p>
            </div>
        </div>
    </div>

    <div id="species-table-container">
        <div id="top-row-container">
            <table id="table-controls-container" class="form">
                <tr id="sort-controls">
                    <td>Sort by</td>
                    <td>
                        <select id="sort-type-select">
                            <option value=""></option>
                            <option value="latinName">Latin Name</option>
                            <option value="commonName">Common Name</option>
                            <option value="taxonomicGroup">Taxonomic Group</option>
                        </select>
                    </td>
            
                    <td>in order</td>
                    <td>
                        <select id="sort-method-select">
                            <option value=""></option>
                            <option value="az">A-Z</option>
                            <option value="za">Z-A</option>
                        </select>
                    </td>
            
                    <td><a href="#" id="sort-button" class="control-button">Sort</a></td>
                </tr>
            
                <tr id="filter-controls">
                    <td>Filter by</td>
                    <td>
                        <select id="filter-type-select">
                            <option value=""></option>
                            <option value="latinName">Latin Name</option>
                            <option value="commonName">Common Name</option>
                            <option value="taxonomicGroup">Taxonomic Group</option>
                            <option value="gridReferences">Grid References</option>
                            <option value="comments">Comments</option>
                        </select>
                    </td>
            
                    <td>containing text:</td>
                    <td><input id="filter-text-input" type="text"></td>
            
                    <td>
                        <a href="#" id="filter-button" class="control-button">Filter</a>
                        <a href="#" id="filter-clear-button" class="control-button">Clear Filter</a>
                    </td>
                </tr>
            </table>
            
            <a href="#" class="button" id="species-submit-button">Submit Species</a>
        </div>

        <div class="form" id="table-container">
            <p class="form-header">Please click to select the species you wish to review:</p>

            <img id="loading-image" src="/images/loading.gif">

            <table style="display: none" id="species-table">
                <thead>
                    <tr>
                        <th>Latin Name</th>
                        <th>Common Name</th>
                        <th>Taxonomic Group</th>
                        <th>Locations</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <script src="/scripts/lib/utils.js"></script>
    <script src="/scripts/data-review/main.js"></script>
<% } %>

<% include ../partials/footer %>