#species-submit-button {
    display: inline-block;
    height: 92px;
    width: 600px;
    line-height: 66px;
    text-align: center;
    margin-left: 20px;
    font-size: 25px;
}

#top-row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#species-table-container {
    padding: 0 10px 10px 10px;
    background-color: rgba(102, 163, 255, 0.4);
    border-radius: 10px;
    border: 1px solid #66a3ff;
}

#table-controls-container {
    margin: 15px 0 15px 0;
}

#table-container, #species-table {
    width: 100%;
}

#species-table, #locations-table {
    text-align: center;
}

tbody tr {
    user-select: none;
}

#species-table tr {
    cursor: hand;
}

.table-highlight {
    border-radius: 6px;
    margin: 3px;
    padding: 2px;
    background-color: #1a75ff;
    color: #eee;
}

#sort-method-select {
    min-width: 170px;
}

#locations-modal p {
    max-width: 600px;
    margin: 15px auto;
}

#locations-table-container {
    margin-bottom: 15px;
    max-height: 254px;
    overflow:hidden;
}

#locations-table {
    max-height: 250px;
    margin-bottom: 3px;
    overflow-y: auto;
}

#locations-table thead tr {
    background-color: #98dee6;
}

#locations-table tr {
    width: 80%;
    margin: 0 10% 0 10%;
}

#locations-table td {
    min-width: 100px;
}

#locations-table tbody td {
    column-span: all;
}

#locations-submit-button {
    font-size: 20px;
    width: 200px;
    height: 65px;
    line-height: 39px;
}

.control-button {
    padding: 2px 7px;
    cursor: pointer;
    height: 35px;
    width: 75px;
    border-radius: 3px;
    font-size: 15px;
    color: #eee;
    margin: 5px 0 5px 5px;
    text-decoration: none;
    line-height: 23px;
    background-color: #1a75ff;
    border: 1px solid #0047b3;
}

#loading-image {
    height: 100px;
    width: 150px;
    transition: opacity .75s;
}

/* Have to make this more specific to override default table styling. */
table tbody .selected-row {
    background-color: #4dff4d;
}

.error-message {
    color: #ff1a1a;
}